ansible==2.5.0          # specific version
awscli                  # latest version
boto                    # latest version
boto3                   # latest version
botocore                # latest version
